<!DOCTYPE html>
    <html lang="en">
        <%- include ("partials/head.ejs")%>
  <body>
    <div class ="form-container">
    <h1>Account Details</h1>
      <form action="/accountDetails" method="POST">
        <input type="text" id="username" name="username" placeholder="Enter Username">
        <button type="submit">Get Account Details</button>
    </form>
      
    <% if (accountDetails) { %>
      <form action="updateAccount" method="POST">
          <input type="hidden" id="username" name="username" value="<%= accountDetails.username %>">
          <input type="text" id="displayname" name="displayname" value="<%= accountDetails.displayname %>" placeholder="Enter New Display Name">
          <br>
          <input type="text" id="location" name="location" value="<%= accountDetails.location %>" placeholder="Enter New Location">
          <br>
          <input type="text" id="language" name="language" value="<%= accountDetails.language %>" placeholder="Enter New Language">
          <br>
          <label for="picture">Current Profile Picture:</label>
          <img src="<%= accountDetails.picture %>" alt="Current Profile Picture">
          <br>
          <label for="newPicture">New Profile Picture:</label>
          <input type="file" id="picture" name="picture">
          <br>
          <button type="submit">Update Account</button>
      </form>
  <% } %>
    </div>
  </body>
</html>